.no-padding {
    padding: 0px;
}

.full_size {
    width: 100%;
    height: 100%
}

.main_router {
    padding: 0px;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.main_page {
    background-color: rgb(238, 238, 238);
    width: 100%;
    min-height: 100%;
}

.two_item_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.center_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.click_able{
    cursor: pointer;
}

.big_button{
    height: 35px;
    width: 75px;
    margin-right: 10px;
    margin-left: 0px !important;
}

.card_style {
    /* padding: 6px; */
    margin: 6px;
    border-radius: 3px;
    background-color: white;
}