.login_card {
    height: 300px;
    background-color: white;
    margin-top: 200px;
    border-radius: 10px;
    padding: 8px;
  }
  
  .login_txt {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .login_input_div {
    height: 40px;
    margin-top: 30px;
  }
  
  @media (max-width: 600px) {
    .login_card {
      width: 320px;
    }
  
    .login_input_div {
      width: 260px;
    }
  }
  
  @media (min-width: 600px) {
    .login_card {
      width: 500px;
    }
  
    .login_input_div {
      width: 300px;
    }
  }