@media (max-width: 600px) {
    .el-menu-item {
        padding: 0 12px;
    }

    .el-sub-menu__title{
        padding: 0 12px;
    }

    .left_menu {
        display: none;
    }

    .menu-item {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
}

@media (min-width: 600px) {
    .left_menu {
        width: 150px;
    }

    .top_menu {
        display: none;
    }

    .menu-item {
        width: 100%;
        text-align: center;
        font-size: 20px;
      }
}